@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@400;700&family=Noto+Sans:wght@200&family=Source+Sans+Pro:wght@200&family=Square+Peg&display=swap');

body {
    font-family: 'DynaPuff', cursive;
    background-color: #b8ebbc;
}

h1 {
    width: 50vw;
    height: 12vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

.input-1 {
    margin-top: 10vh;
}

label,
input {
    display: block;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#bday-input {
    margin-top: 3vh;

    /* width: 15vw;
    height: 6vh; */
    width: 15;
    height: auto;
    border-style: solid;
    border-radius: 0.5rem;

}

.btn {
    text-align: center;
    margin-top: 10vh;
}

#show-btn {
    width: 10vw;
    height: 7vh;
    margin: auto;
    border-radius: 0.7rem;
}

#output {
    margin-top: 8vh;
    text-align: center;
}

@media only screen and (max-width: 700px) {

    h1 {
        width: 50vw;
        height: 12vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
    }

    .input-1 {
        margin-top: 10vh;
    }

    label,
    input {
        display: block;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #bday-input {
        margin-top: 3vh;

        width: auto;
        height: auto;

        border-style: solid;
        border-radius: 0.5rem;

    }

    .btn {
        text-align: center;
        margin-top: 5vh;
    }

    #show-btn {
        width: 20vw;
        height: 5vh;
        margin: auto;
        border-radius: 0.7rem;
    }
}